body {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: lightslategrey;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  color: #f9faf8;
}

header,
.hero {
  background-color: #1f2937;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
